/*默认字体颜色*/
.f-color {
	color: #636263;
}

/*选中字体颜色*/
.f-active-color {
	color: #49BDFB;
}

/*背景颜色*/
.bg-color {
	background-color: #80daff;
}

/* 隐藏scroll-view的滚动条 */
::-webkit-scrollbar {
	width: 0;
	height: 0;
	-webkit-appearance: none;
	color: transparent;
	display: none;
}
